.contact-wrapper {
  padding: 40px;
  color: #fff;
  text-align: center;
}

.contact-title {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 8px;
}

.contact-subtitle {
  font-size: 16px;
  opacity: 0.7;
  margin-bottom: 40px;
}

.contact-container {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.contact-info {
  width: 320px;
  background: rgba(255,255,255,0.05);
  padding: 25px;
  border-radius: 16px;
  border: 1px solid rgba(255,193,7,0.3);
  backdrop-filter: blur(10px);
}

.contact-info h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 15px;
}

.icon {
  font-size: 20px;
  color: #ffc107;
}

.social-links a {
  margin-right: 10px;
  font-size: 22px;
  cursor: pointer;
  transition: 0.3s;
}

.social-links a:hover {
  color: #ffc107;
}

.map-box {
  margin-top: 20px;
  border-radius: 12px;
  overflow: hidden;
  height: 180px;
}

.map-box iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* FORM */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 400px;
}

.contact-form input,
.contact-form textarea {
  background: #1a1a1a;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #333;
  color: white;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #ffc107;
}

.send-btn {
  background: #ffc107;
  padding: 14px;
  border: none;
  border-radius: 8px;
  color: #000;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: 0.25s;
}

.send-btn:hover {
  background: #ffda3a;
}

.send-icon {
  font-size: 18px;
}
