.filters-box {
  width: 100%;
  background: #1a1a1a;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid rgba(255,193,7,0.3);
}

/* TITLE */
.filters-box h3 {
  color: white;
  font-size: 20px;
  margin-bottom: 15px;
}

/* LABEL */
.filter-label {
  color: #ccc;
  font-size: 14px;
  margin-bottom: 4px;
  display: block;
}

/* INPUTS */
.filter-input,
.filter-select {
  width: 100%;
  background: #2a2a2a;
  border: 1px solid #444;
  border-radius: 8px;
  padding: 10px;
  color: white;
  margin-bottom: 15px;
}

.filter-input:focus,
.filter-select:focus {
  outline: none;
  border-color: #ffc107;
}

/* BUTTON */
.apply-btn {
  width: 100%;
  padding: 10px;
  background: #ffc107;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  color: #000;
}

.apply-btn:hover {
  background: #ffda42;
}
/* MOBILE */
@media (max-width: 480px) {
  .filters-box {
    padding: 16px;
  }

  .filters-box h3 {
    font-size: 18px;
  }
}

/* TABLET */
@media (max-width: 900px) {
  .filters-box {
    width: 100%;
  }
}
