.filters-box {
  width: 230px;
  background: #1a1a1a;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border: 1px solid rgba(255,193,7,0.3);
}

.filters-box h3 {
  color: white;
  font-size: 20px;
  margin-bottom: 15px;
}

.filter-label {
  color: #ccc;
  font-size: 14px;
  margin-bottom: 4px;
  display: block;
}

.filter-input,
.filter-select {
  width: 95%;
  background: #2a2a2a;
  border: 1px solid #444;
  border-radius: 8px;
  padding: 10px;
  color: white;
  margin-bottom: 15px;
}

.filter-input:focus,
.filter-select:focus {
  outline: none;
  border-color: #ffc107;
}

.apply-btn {
  width: 100%;
  padding: 10px;
  background: #ffc107;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  color: #000;
  transition: 0.2s;
}

.apply-btn:hover {
  background: #ffda42;
}
